body {
    background-image: url(table.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.heading {
    color: goldenrod;
    text-align: center;
    font-size: 350%;
    overflow: hidden; /* Hides overflow to prevent content from showing before animation */
    white-space: nowrap; /* Prevents text from wrapping */
}

.heading span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#message-el {
    font-weight: bold;
    color: white;
    font-size: 250%;
    font-style: italic;
    text-align: center;
}

.cards-el {
    font-weight: bold;
    color: white;
    font-size: 250%;
    text-align: center;
}

#sum-el {
    font-weight: bold;
    color: white;
    font-size: 250%;
    text-align: center;
}

#start {
    color: #016f32;
    width: 200px;
    background-color: goldenrod;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bolder;
    font-size: 150%;
    border: none;
    border-radius: 6px;
    margin-bottom: 7px;
    cursor: pointer;
}

#new-card {
    color: #016f32;
    width: 200px;
    background-color: rgb(218, 165, 32);
    padding-top: 8px;
    padding-bottom: 9px;
    font-weight: bolder;
    font-size: 150%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#player {
    font-weight: bold;
    color: white;
    font-size: 250%;
    text-align: center;
}

#new-card:hover {
    background-color: rgb(189, 130, 25);
}

#start:hover {
    background-color: rgb(189, 130, 25);
}

#new-card:active {
    transform: scale(0.95);
}

#start:active {
    transform: scale(0.95);
}
